<div class="deployed-route__point">
    <div class="deployed-route__point-name">{{{step.instructions}}}</div>
    <div class="deployed-route__point-distance">{{step.distance.text}}</div>{{{stepIcon}}}

</div>

{{yield}}
